[Unit]
Description=Personal Weather Station

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m weatherstation.pws /etc/weatherstation.cfg

[Install]
WantedBy=multi-user.target
